# API App Environment Variables

# Server Port
PORT="8000"

# App URLs
FRONTEND_URL="http://localhost:3000"
API_URL="http://localhost:8000/api/auth"

# Database
DATABASE_URL="postgres://postgres:postgres@localhost:5432/db"

# Gmail Configuration
GMAIL_EMAIL="your-email@gmail.com"
GMAIL_APP_PASSWORD="your-app-password"
